body {
    padding: 0px;
    margin: 0px;
    font-family: arial,sans-serif;
    
    font-size: 14px;
}
a {
    text-decoration: none;
    color: #5F6368;
}

nav {
    
    padding: 15px;
    color: #000;
opacity: 0.75;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    line-height: 25px;
    text-align: center;
    
}

nav a {
    display: block;
    width: 60px;
    color: black;
}

.nav-left {
    float: left;
}

.nav-left ul li {
    float: left;
   
}

.nav-right ul li {
    float: right;
}
.sign-in{
    background-color: #2770e6;
    color: rgb(234, 234, 243);
    height: 30px;
    border-radius: 1px;
    font-weight: bold;
    width: 65px;
}
.google {
    display: flex;
    justify-content: center;
    position: relative;
    top: 180px;
}
.searchbar {
    text-align: center;
    position: relative;
    top: 200px;
}
.search {
    width: 550px;
    height: 35px;
    border-radius: 25px;
    border-style: solid;
    border-color: rgb(236, 234, 229);
}
.search-icon {
    position: absolute;
    top: 8px;
    left: 700px;
    opacity: 0.4;
}
.mike {
    position: absolute;
    height: 28px;
    top: 7px;
    left: 1194px;
}
.b-search {
    position: absolute;
    top: 420px;
    left: 790px;
}
.lucky{
    position: absolute;
    top: 420px;
    left: 950px;
    
}
.under {
    
    font-size: 17px;
  background-color: #f2f2f2;
  border-style: hidden;
  border: 1px solid #f2f2f2;
  font-family: arial,sans-serif;
  color: #5F6368;
  height: 39px;
  width: 150px;
}
footer {
    position: relative;
    top: 560px;
    display: flex;
    flex-direction: row;
    width: 99%;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    width: 100%;
    font-size: 14px;
}
.left li{
    display: inline-block;
    padding-left: 5px;
}
.left ul{
    padding-left: 15px;
}
.right li{
    display: inline-block;
    padding-right: 15px;
}
